# Virtual environment
stream_store/Lib/
stream_store/Scripts/
stream_store/pyvenv.cfg

# VS Code settings
.vscode/

# OS files
.DS_Store

# Python cache
__pycache__/
*.py[cod]

# Logs
*.log

# Jupyter
.ipynb_checkpoints/
